<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ServletLogin</servlet-name>
  	<display-name>ServletLogin</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServletLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletLoginEnfermera</servlet-name>
  	<display-name>ServletLoginEnfermera</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServletLoginEnfermera</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletGuardarUD</servlet-name>
  	<display-name>ServletGuardarUD</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServletGuardarUD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletGuardarU</servlet-name>
  	<display-name>ServletGuardarU</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServletGuardarU</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServeletGyAExpedientes</servlet-name>
  	<display-name>ServeletGyAExpedientes</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServeletGyAExpedientes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServeletExpedientes</servlet-name>
  	<display-name>ServeletExpedientes</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServeletExpedientes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>gaMedicamentos</servlet-name>
  	<display-name>gaMedicamentos</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.gaMedicamentos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServeletMedicamentos</servlet-name>
  	<display-name>ServeletMedicamentos</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServeletMedicamentos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServeletRecetaMedica</servlet-name>
  	<display-name>ServeletRecetaMedica</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServeletRecetaMedica</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletLoteMedi</servlet-name>
  	<display-name>ServletLoteMedi</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServletLoteMedi</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletReservar</servlet-name>
  	<display-name>ServletReservar</display-name>
  	<description></description>
  	<servlet-class>com.ApoloServlet.ServletReservar</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletLogin</servlet-name>
  	<url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletLoginEnfermera</servlet-name>
  	<url-pattern>/ServletLoginEnfermera</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletGuardarUD</servlet-name>
  	<url-pattern>/ServletGuardarUD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletGuardarU</servlet-name>
  	<url-pattern>/ServletGuardarU</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServeletGyAExpedientes</servlet-name>
  	<url-pattern>/ServeletGyAExpedientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServeletExpedientes</servlet-name>
  	<url-pattern>/ServeletExpedientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>gaMedicamentos</servlet-name>
  	<url-pattern>/gaMedicamentos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServeletMedicamentos</servlet-name>
  	<url-pattern>/ServeletMedicamentos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServeletRecetaMedica</servlet-name>
  	<url-pattern>/ServeletRecetaMedica</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletLoteMedi</servlet-name>
  	<url-pattern>/ServletLoteMedi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletReservar</servlet-name>
  	<url-pattern>/ServletReservar</url-pattern>
  </servlet-mapping>
</web-app>
